@charset "UTF-8";
@import "../component/output.css";

/*메인*/
.main-content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 4rem 2rem;
	box-sizing: border-box;
}

.intro-group {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.main-info {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	justify-content: space-between;
}

.main-info.row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.4rem;
	height: 100%;
}

.main-info-group {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.main-inner{
	height: 10.5rem;
	width: 100%;
	padding: 1.4rem;
}

.main-info,
.short-list > li{
	background: var(--krds-light-color-background-white);
	border: 0.1rem solid var(--krds-light-color-border-gray) ;
	border-radius: 1.2rem;
	padding: 2rem;
}
.short-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.short-tit {
	position: relative;
	padding-left: 10.5rem;
}

.short-tit::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	background: url(../../img/component/icon/check.svg) no-repeat;
	width: 8.5rem;
	height: 7.8rem;
}

.risklevel-wrap {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.timeline {
  position: relative;
  width: 2px;
  background-color: #3ba2ff;
  height: 80%;
}

.timeline .dot {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #3ba2ff;
	margin-bottom: 5.4rem;
  border-radius: 50%;
}

.short-tit > em {
	color: #53B089;
}

.short-list,
.risklevel-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
}
.short-list > li {
	width: calc(50% - 1rem);
	position: relative;
	display: flex;
	flex-shrink: 0;
	height: 15.5rem;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: .8rem;
	justify-content: space-between;
	font-size: 1.5rem;
}
.short-list > li > a {
	position: absolute;
	right: 2rem;
	padding-right: 2rem;
	width: 2.8rem;
	height: 2.8rem;
	background: url(../../img/component/icon/ico-short.svg)no-repeat;
}

.short-list > li > span {
	line-height: 2rem;
}

.title-justify{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.location-tit {
	display: flex;
	align-items: center;
	gap: .8rem;
}

.location-tit > em {
	background: var( --risk-color-caution);
	border: .1rem solid var(--risk-color-caution-second);
	border-radius: .8rem;
	padding: .4rem 1.2rem;
}


/* 위험 등급 색상 변수 */
:root {
  --risk-color-attention: #b0d6ff;  /* 관심 */
  --risk-color-caution: #fff9da;    /* 주의 */
  --risk-color-warning: #ffebd4;    /* 경계 */
  --risk-color-severe: #ffdddd;     /* 심각 */
	--risk-color-attention-second: #0177f5;  /* 관심 */
  --risk-color-caution-second: #ffdb0f;    /* 주의 */
  --risk-color-warning-second: #ff9720;    /* 경계 */
  --risk-color-severe-second: #ff0d0d;     /* 심각 */
}

.risklevel-list .level-attention { background: var(--risk-color-attention); }
.risklevel-list .level-caution   { background: var(--risk-color-caution); }
.risklevel-list .level-warning   { background: var(--risk-color-warning); }
.risklevel-list .level-severe    { background: var(--risk-color-severe); }

.risklevel-list > li {
	width: 100%;
	flex-shrink: 0;
	padding: 1rem 1.6rem 1rem 2.5rem;
	border-radius: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.risklevel-list > li::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0.8rem;
	height: 100%;
	z-index: 1;
	border-radius: 1.2rem 0 0 1.2rem;
}

.risklevel-list .level-attention::after {
  background-color: var(--risk-color-attention-second);
}
.risklevel-list .level-caution::after {
  background-color: var(--risk-color-caution-second);
}
.risklevel-list .level-warning::after {
  background-color: var(--risk-color-warning-second);
}
.risklevel-list .level-severe::after {
  background-color: var(--risk-color-severe-second);
}

.risk-group {
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	text-align: right;
	height: 100%;
}



.risk-text > li {
	position: relative;
	padding-right: 2rem;
	font-size: 1.2rem;
}

.risk-text > li::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	height: 1.2rem;
	width: 1.2rem;
}

.risk-text .level-attention::before {
  background-color: var(--risk-color-attention-second);
}
.risk-text .level-caution::before {
  background-color: var(--risk-color-caution-second);
}
.risk-text .level-warning::before {
  background-color: var(--risk-color-warning-second);
}
.risk-text .level-severe::before {
  background-color: var(--risk-color-severe-second);
}

.region-text {
	display: flex;
}
.region-text > li {
	display: flex;
	flex-direction: column;
	width: calc(100% / 2);
}
.region-text > li > span {
	font-size: var(--krds-pc-font-size-display-small);
}


.main-more > a,
.risklevel-list .time > span{
	display: flex;
	align-items: center;
	gap: .8rem;
}

/*메인 지도*/

.weather-wrap {
	background: #EEF2F7;
	height: 35.5rem;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.weather-map {
	background: url(../../img/map/weatherMap.svg)no-repeat center;
	width: 34rem;
	height: 35rem;
	position: absolute;
}

.weather-map > dl {
	display: block;
	height: 3.5rem;
	width: 5.5rem;
	text-align: center;
	position: absolute;
}

.weather-map > dl dt {
	position: absolute;
	width: 100%;
	bottom: -.5rem;
	text-align: right;
	font-size: 1.2rem;
	font-weight: 700;
}

.weather-map > dl dd img {
	width: 3.5rem;
}

/*시도*/
.gangreung {
	top: 6.5rem;
	left: 21rem;
}

.uljin {
	top: 42%;
	left: 82%;
	transform: translate(-50%, -50%)
}

.daejeon {
	top: 16.5rem;
	left: 14rem;
}

.mokpo {
	top: 30.5rem;
	left: 7rem;
}

.seosan {
	top: 15.5rem;
	left: 7rem;
}

.chuncheon{
	top: 5.5rem;
	left: 17rem;
}

.incheon{
	position: absolute;
	top: -11.5rem;
	left: 9rem;
}	

.gwangju{
	top: 25.5rem;
	left: 10.5rem;
}	

.jeju{
	position: absolute;
	top: 30.5rem;
	left: 0rem;
}	

.ulsan{
	top: 24.5rem;
	left: 24.5rem;
}	

.daegu{
	top: 20.5rem;
	left: 21rem;
}	

.jeonju{
	top: 21.5rem;
	left: 10rem;
}

.yeosu{
	top: 28.5rem;
	left: 14rem;
}	

.andong{
	top: 16.5rem;
	left: 22rem;
}	

.masan{
	top: 26.5rem;
	left: 19rem;
}	

.chungju{
	top: 13rem;
	left: 16rem;
}

.pohang{
	top: 19.5rem;
	left: 26rem;
}

.suwon{
	top: 11rem;
	left: 12rem;
}

.seoul{
	top: 7.5rem;
	left: 12rem;
}

.baengnyeongdo{
	top: 6.5rem;
	left: 4rem;
}

.forest-fire-map {
	background: url(../../img/map/forestFireMap.svg)no-repeat center;
	height: 35.5rem;
}

/* 최근 공지사항 */
.mnotice > li {
	display: flex;
	justify-content: space-between;
	padding: 0.48rem 0rem;
	cursor: pointer;
}
.mnotice > li > a { position: relative; display: flex; align-items: center; justify-content: flex-start; width: 100%; }
.mnotice > li > a > p { display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.mnotice > li > a > span { text-align: right; display: block; padding-left: 10px;}

.level-text > li {
	font-size: 1.4rem;
}

.level-text > li span {
	display: flex;
	align-items: center;
	gap: .8rem;
	width: calc(100% - 22rem);
}
.level-text > li > em {
	width: calc(100% - 20rem);
}


.scale-bar {
	font-size: 1rem;
  color: #1f1f1f;
  display: inline-block;
}

.bar {
  display: flex;
  width: calc(100% - 4.2rem);
  height: .8rem;
  border: .1rem solid #1f1f1f;
  box-sizing: border-box;
	position: relative;
}

.bar .block:nth-child(1),
.labels > span:nth-child(1) {
	width: 8%
}
.bar .block:nth-child(2),
.labels > span:nth-child(2) {
	width: 8%
}
.bar .block:nth-child(3),
.labels > span:nth-child(3) {
	width: 32%
}
.bar .block:nth-child(4),
.labels > span:nth-child(4) {
	width: 32% 
}
.bar .block:nth-child(5),
.labels > span:nth-child(5) {
	width: 40%
}

.bar .block:nth-child(5)::before {
	content: 'km';
	position: absolute;
	right: -2rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.4rem;

}

.black {
  background-color: #1f1f1f;
}

.white {
  background-color: #fff;
}

.labels {
  display: flex;
	width: 100%;
}

/* 공지사항 */
.bord {
	width:100%;
	border-top:2px solid #383840;
	border-bottom: 1px solid #C4C4C4;
}
.bord > h4{
	display:flex;
	padding: 24px 0px;
}

.bordlist dl{
	display: flex;
}

.view_info {
	border-top: 1px solid #C4C4C4;
	border-left: 0;
	border-right: 0;
	padding: 24px 0px;
	width: 100%;
	display: flex;
}
.view_info dl {
	width: calc(100% / 3);
}
.view_info dl dt {
	display: inline-block;
}
.view_info dl dd {
	display: inline-block;
	padding-left: 50px;
}
.view_body {
	padding: 20px 24px 50px;
}
.view_body > div {
	min-height: 380px;
}

@media (max-width: 767px) {
  .view_info{
		display: flex;
		flex-direction: column;
	}
	.view_info dl {
		width: calc(100%);
	}
}

.prevNext_list {
	border: 0.1rem solid #b1b8be;
	border-radius: 1.2rem;
	padding: 1.2rem 2rem;
}

.prevNext_list > dl {
	overflow: hidden;
	padding: 20px;
}
.prevNext_list > dl:first-child {
	border-bottom: 1px solid #C4C4C4;

}
.view_file > dl {padding: 24px 0px;}
.view_file > dl > dt {display: inline-block; vertical-align: middle; text-align: right; position: relative;}
.prevNext_list > dl > dt {display: inline-block; vertical-align: middle; text-align: right; position: relative;}


.prevNext_list > dl > dd {display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle; padding-left: 30px; width: calc(100% - 75px);}
.file_list > li > a {display: block; position: relative; padding-left: 25px;}
.box_list {width: 100%; text-align: right; margin-top: 25px;}
.list_btn {border: 1px solid #7D7D7D; min-width:50px; padding:0px 20px; height: 40px; line-height: 40px; position: relative; display: block;}


@media screen and (max-width: 1150px) {
	.intro-group {
		display: flex;
		flex-wrap: wrap;
	}
  
	.main-info,
	.main-info-group {
		flex: 1 1 calc(50% - 3rem);
	}

	.short-group,
	.main-info-half {
		width: 100%;
	}

	.main-info-half {
		flex-direction: row;
	}

}


@media screen and (max-width: 1023px) {
	.intro-group {
		display: grid;
		grid-template-columns: 1fr;
	}

	.main-info-half {
		flex-direction: column;
	}

	.short-tit {
		margin-bottom: 2.4rem;
	}
}